{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
         <div class="card white">
             <div class="card-title center-align ">
                 <div class="col s12 amber accent-4">
                     <p><strong>Listas de frequência</strong></p>
                 </div>
             </div>
             <div class="card-content">
                 <table class="highlight">
                    <thead>
                      <tr>
                          <th>Palestras</th>

                      </tr>
                    </thead>

                        <tbody>

                            <tr>
                                <td><a>Lista geral</a></td>
                            </tr>
                        </tbody>
                </table>
                <table class="highlight">
                    <thead>
                      <tr>

                          <th>Workshop</th>
                      </tr>
                    </thead>
                    {% for workshop in workshop %}
                        <tbody>

                            <tr>
                                <td><a href="{% url 'lista' workshop.pk %}">{{ workshop.nome_workshop }}</a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
             </div>
             <div class="card-action grey lighten-4">

             </div>
         </div>
    </div>
</div>

{% endblock %}